<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Gerez votre profil dans la Incorporation de Claire et deverser vos oeuvres d'art partout sur la toile.">
        <link href="/assets/CSS/profil.css" rel="stylesheet">
        <title>Claire.inc | Votre profil</title>
    </head>
    <body>
        <header>

        </header>

        <main>

        </main>

        <footer>

        </footer>

        <script src="/assets/JS/profil.js"></script>
    </body>
</html>