* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 22px;
}

.burger-icon span {
    display: block;
    width: 50px;
    height: 6px;
    background-color: #BBABF9;
    margin: 10px 0;
}

.burger-icon span:nth-of-type(2) {
    width: 40px;
}

.menuBurger{
    width: 100px;
    transition: 0.5s ease-in-out;
    transform: translate(-320%);
    z-index: 1;
    margin-top: 65px;
}

#open {
    opacity: 0;
    position: absolute;
    margin: 10px;
    z-index: 2;
}

#open:checked ~ .menuBurger {
    transform: translate(-100%);
}

nav a {
    color: black;
}

ul {
    background-color: #BBABF9;
    opacity: 75%;
    border-radius: 0 25px 25px 0;
    padding: 20px;
    width: 185px;
}

li {
    display: inline-block;
    font-size: 13px;
    padding: 10px;
    border-radius: 25px;
}

li:hover {
    background-color: white;
}

img {
    height: auto;
    width: 120px;
}

main {
    width: 100%;
    margin: 25px 0 80px 0;
}

h1 {
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
}

h1, form, button {
    background-color: #D2CBFE ;
    border-radius: 0 25px 0 25px;
    padding: 20px;
    margin: 0 25px 50px 25px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.126);
    font-weight: 400;
    border: none;
    letter-spacing: 1px;
}

form, button {
    -webkit-box-shadow: 7px 8px 13px -1px #AEAEAE, 7px 8px 13px -1px #AEAEAE; 
    box-shadow: 7px 8px 13px -1px #AEAEAE, 7px 8px 13px -1px #AEAEAE;
}

label:not(header > label) {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

em {
    font-size: 12px;
}

input {
    border: none;
    padding: 10px;
    border-radius: 50px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 13px;
}

button {
    margin-right: 0;
    width: 135px;
}

button:nth-of-type(2) {
    background-color: #BBABF9;
}

footer {
    background-color: #BBABF9 ;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
}

footer > a, footer > a:visited, footer > h3 {
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    margin-left: 20px;
    color: black;
}