* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    height: 100px;
    display: flex;
    padding: 25px;
}

/*.burger:not(:checked)+label {
    background-color: #ABCFF9;
    padding: 20px;
    transform: translate(-150%);
    transition: transform 0.5s ease-in-out;
}*/

.burger {
    position: absolute;
    top: 70px;
    left: -100px;
    background-color: #ABCFF9;
    padding: 20px;
    width: 200px;
    transition: 0.5s ease-in-out;
    
}

li {
    display: inline-block;
    font-size: 13px;
}

li:hover {
    background-color: white;
}

a {
    color: black;
}

.menuBurger{
    display: none;
}

#open{
    opacity:0;
}

#open:checked ~ .menuBurger {
    display: block;
    transform: translate(150%);
    transition: transform 0.5s ease-in-out;
}

.burger-icon span {
    display: block;
    width: 50px;
    height: 6px;
    background-color: #ABCFF9;
    margin: 10px 0;
}

.burger-icon span:nth-of-type(2) {
    width: 40px;
}

img {
    height: auto;
    width: 120px;
}

main {
    width: 100%;
}

h1 {
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
    
}

h1, form, button {
    background-color: #CBE2FE ;
    border-radius: 0 25px 0 25px;
    padding: 20px;
    margin: 0 25px 50px 25px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.126);
    font-weight: 300;
    border: none;
    letter-spacing: 1px;
}

form, button {
    -webkit-box-shadow: 7px 8px 13px -1px #AEAEAE, 7px 8px 13px -1px #AEAEAE; 
    box-shadow: 7px 8px 13px -1px #AEAEAE, 7px 8px 13px -1px #AEAEAE;
}

label {
    font-size: 15px;
}

em {
    /*display: none;*/
    font-size: 12px;
}

input {
    border: none;
    padding: 10px;
    border-radius: 50px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 13px;
}

button {
    margin-right: 0;
    width: 135px;
}

button:nth-of-type(2) {
    background-color: #ABCFF9;
}

main {
    margin: 50px 0 100px 0;
}

footer {
    background-color: #ABCFF9 ;
    height: 70px;
}