* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    height: 100px;
    display: flex;
    padding: 25px;
}

img {
    height: auto;
    width: 120px;
}

h1 {
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
    
}

h1, form, button:not(#uploadAvatar) {
    background-color: #FEDDCB ;
    border-radius: 0 25px 0 25px;
    padding: 20px;
    margin: 0 25px 50px 25px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.126);
    font-weight: 300;
    border: none;
    letter-spacing: 1px;
}

form, button:not(#uploadAvatar) {
    -webkit-box-shadow: 7px 8px 13px -1px #AEAEAE, 7px 8px 13px -1px #AEAEAE; 
    box-shadow: 7px 8px 13px -1px #AEAEAE, 7px 8px 13px -1px #AEAEAE;
}

form > div:first-of-type {
    display: flex;
    margin-bottom: 20px;
}

.avatar:hover {
    display: flex;
    opacity: 1;
    background-color: #F9C7AB;
}

.yourAvatar input[type="file"] {
    display: none;
}

#uploadAvatar {
    border: none;
    background-color: none;
    text-decoration: underline;
    font-size: 11px;
    font-weight: 600;
    background-color: #FEDDCB;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}

section {
    padding-left: 5px;
}

label {
    font-size: 15px;
}

em {
    font-size: 12px;
}

p {
    border: none;
    padding: 10px;
    border-radius: 50px;
    margin-top: 8px;
    font-size: 13px;
    background-color: white;
    color: black;
    text-shadow: none;
    font-size: 10px;
}

input {
    border: none;
    padding: 10px;
    border-radius: 50px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 13px;
}

button:not(#uploadAvatar) {
    margin-right: 0;
    width: 135px;
}

button:nth-of-type(2) {
    background-color: #F9C7AB;
}

main {
    margin: 50px 0 100px 0;
}

footer {
    background-color: #F9C7AB ;
    height: 70px;
}